header {
  height: 55px;
  background: #FFFFFF;
  #logo {
    display: inline-block;
    height: 100%;
    width: 30%;
    #flashapp-name {
      display: inline-block;
      vertical-align: top;
      background: $f-app-color; 
      color: white;
      border-radius: 3px;
      padding: 8px 20px;
      margin: 10px 10px 0px;
    }
  }
  
  #search-login {
    width: 70%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    float: right;
    .find {
      display: inline-block;
    }
    .login {
      display: inline-block;
      margin: 10px 10px 0px;
    }
  }
}