.loader-back {
  background: white;
  width: 100%;
  height: 100vh;
  display: block;
  text-align: center;
}

.loader-container {
  height: 200px;
  width: 200px;
  position: relative;
  display: inline-block;
  top: 25vh;
}

.loader {
  position: absolute;
  z-index: 20;
  border: 3px solid transparent;
  border-top: 3px solid $f-app-logo;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
}

.flashapp-image {
  position: absolute;
  z-index: 21;
  height: 80px;
  width: 80px;
  background: url('../../images/logo.svg') 15px 8px no-repeat;
  background-size: cover;
  margin: 70px 0px 0px 78px;
}

@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}