@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@font-face {
  font-family: 'lato-regular';
  src: url("../../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lato-light';
  src: url("../../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lato-bold';
  src: url("../../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

header {
  height: 55px;
  background: #FFFFFF; }
  header #logo {
    display: inline-block;
    height: 100%;
    width: 30%; }
    header #logo #flashapp-name {
      display: inline-block;
      vertical-align: top;
      background: #39abf2;
      color: white;
      border-radius: 3px;
      padding: 8px 20px;
      margin: 10px 10px 0px; }
  header #search-login {
    width: 70%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    float: right; }
    header #search-login .find {
      display: inline-block; }
    header #search-login .login {
      display: inline-block;
      margin: 10px 10px 0px; }

button {
  padding: 8px 30px;
  border-radius: 3px;
  font-size: 0.8em; }
  button.btn-blue {
    color: white;
    background: #39abf2; }

* {
  padding: 0px;
  margin: 0px;
  font-family: 'lato-regular'; }

body {
  background: #39abf2; }
