@font-face {
  font-family: 'lato-regular';
  src: url("../../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lato-light';
  src: url("../../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lato-bold';
  src: url("../../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

header {
  height: 55px;
  background: #FFFFFF; }
  header #logo {
    display: inline-block;
    height: 100%;
    width: 30%; }
    header #logo #flashapp-name {
      display: inline-block;
      vertical-align: top;
      background: #39abf2;
      color: white;
      border-radius: 3px;
      padding: 8px 20px;
      margin: 10px 10px 0px; }
    header #logo #site-logo {
      height: 100%;
      width: 40px;
      background: url("../../images/logo.svg") 10px 10px no-repeat;
      display: inherit;
      margin: 0px 0px 0px 26px; }
  header #search-login {
    width: 70%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    float: right;
    position: relative;
    text-align: right; }
    header #search-login .find {
      display: inline-block;
      max-width: 300px;
      width: 100%;
      height: 25px;
      border-radius: 3px;
      border-radius: 3px;
      box-shadow: none;
      border: 1px solid grey;
      position: absolute;
      right: 162px;
      margin: 14px 0px 0px; }
    header #search-login .login {
      display: inline-block;
      margin: 10px 10px 0px; }
    header #search-login .sign-up {
      display: inline-block; }

footer {
  background: white;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0px; }
  footer .footer-icons {
    margin: 0px 20%;
    text-align: center; }
    footer .footer-icons .soontm {
      text-align: left;
      padding: 15px 50px; }
  footer .i-container {
    display: inline-block;
    margin: 0px 20px; }
    footer .i-container .f-icon {
      height: 50px;
      width: 52px;
      display: inherit; }
      footer .i-container .f-icon-android {
        background: url("../../images/google-play-store.svg") 0px 0px no-repeat; }
      footer .i-container .f-icon-ios {
        background: url("../../images/apple-store.svg") 0px 0px no-repeat; }

.btn {
  padding: 8px 30px;
  border-radius: 3px;
  font-size: 0.8em; }
  .btn-blue {
    color: white;
    background: #39abf2; }
  .btn-white {
    color: #39abf2;
    background: white; }
  .btn:hover {
    cursor: pointer; }

.cross {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 30px;
  width: 30px;
  opacity: 0.3; }
  .cross:after, .cross:before {
    content: '';
    width: 3px;
    height: 30px;
    background: #0d62a2;
    position: absolute; }
  .cross:after {
    transform: rotate(45deg); }
  .cross:before {
    transform: rotate(-45deg); }
  .cross:hover {
    cursor: pointer;
    opacity: 1; }

.loader-back {
  background: white;
  width: 100%;
  height: 100vh;
  display: block;
  text-align: center; }

.loader-container {
  height: 200px;
  width: 200px;
  position: relative;
  display: inline-block;
  top: 25vh; }

.loader {
  position: absolute;
  z-index: 20;
  border: 3px solid transparent;
  border-top: 3px solid #0d62a2;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite; }

.flashapp-image {
  position: absolute;
  z-index: 21;
  height: 80px;
  width: 80px;
  background: url("../../images/logo.svg") 15px 8px no-repeat;
  background-size: cover;
  margin: 70px 0px 0px 78px; }

@keyframes loader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.pop-back {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  margin: auto;
  animation-name: show;
  animation-duration: 0.3s; }
  .pop-back .form-pop {
    margin: 20vh auto 0px;
    padding: 15px 0px;
    text-align: center;
    background: #39abf2;
    width: 50vw;
    position: relative;
    z-index: 1200; }
    .pop-back .form-pop h2 {
      color: white; }
    .pop-back .form-pop input {
      display: block;
      margin: 10px auto;
      width: 80%;
      height: 30px;
      border-radius: 2px;
      text-align: center; }
      .pop-back .form-pop input::placeholder {
        text-align: center;
        color: #39abf2;
        font-family: 'lato-bold'; }
      .pop-back .form-pop input.btn-white {
        width: auto;
        padding: 0px 50px;
        margin: 30px auto 0px; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: 'lato-regular'; }

body {
  background: #39abf2; }

.content {
  margin-bottom: 150px; }

.loaded {
  animation-name: show;
  animation-duration: 0.3s; }

@keyframes show {
  from {
    left: -100px;
    opacity: 0; }
  to {
    left: 0px;
    opacity: 1; } }

#map {
  height: 300px;
  width: 50%; }

.no-loaded {
  display: none; }

.no-show {
  display: none; }
