
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "base/fonts";
@import "components/header";
@import "components/footer";
@import "components/buttons";

* {
  padding: 0px;
  margin: 0px;
  font-family: 'lato-regular';
}

body {
  background: $f-app-color;
}
