
// Variables
@import "variables";
@import "base/fonts";
@import "components/header";
@import "components/footer";
@import "components/buttons";
@import "components/loader";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: 'lato-regular';
}

body {
  background: $f-app-color;
}

.content {
  margin-bottom: 150px;
}

.loaded {
  animation-name: show;
  animation-duration: 0.3s;
}

@keyframes show {
  from {left:-100px; opacity: 0;}
  to {left: 0px; opacity: 1;}
}

#map {
  height: 300px;
  width: 50%;
}

.no-loaded {
  display: none;
}
